@use "@angular/material" as mat;
@use "./custom-colors.scss" as palette;

@include mat.core();

$dabubble-theme: mat.define-light-theme(
  (
    color: (
      primary: palette.$primary-purple-palette,
      accent: palette.$accent-turquoise-palette,
      warn: palette.$warn-pink-palette,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($dabubble-theme);
