<section>
  <mat-toolbar>
  <button mat-icon-button class="emoji-category-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>sentiment_satisfied</mat-icon>
  </button>
  
  
  <button mat-icon-button class="emoji-category-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button class="emoji-category-icon" aria-label="Example icon-button with share icon">
    <mat-icon>filter_vintage</mat-icon>
  </button>
  <button mat-icon-button class="emoji-category-icon" aria-label="Example icon-button with share icon">
    <mat-icon>restaurant</mat-icon>
  </button>
  <button mat-icon-button class="emoji-category-icon" aria-label="Example icon-button with share icon">
    <mat-icon>pedal_bike</mat-icon>
  </button>
  <button mat-icon-button class="emoji-category-icon" aria-label="Example icon-button with share icon">
    <mat-icon>directions_car</mat-icon>
  </button>
  <button mat-icon-button class="emoji-category-icon" aria-label="Example icon-button with share icon">
    <mat-icon>emoji_objects</mat-icon>
  </button>
  <button mat-icon-button class="emoji-category-icon" aria-label="Example icon-button with share icon">
    <mat-icon>glyphs</mat-icon>
  </button>
  <button mat-icon-button class="emoji-category-icon" aria-label="Example icon-button with share icon">
    <mat-icon>flag_2</mat-icon>
  </button>
</mat-toolbar>
  <div class="emoji-icon-wrapper">
    @for (category of categories$ | async; track category.category) {
    <div class="cat" [attr.id]="category.category">
      <h4>{{ category.ux_title.de }} ({{ category.emojis.length }})</h4>

      @for (emoji of category.emojis; track emoji.id) {
      <svg class="emoji" width="24" height="24">
        <use
          [attr.href]="emoji.files.default"
          [attr.xlink:href]="emoji.files.default"
        ></use>
      </svg>
      }
    </div>
    }
  </div>
</section>
