<section>
  <mat-toolbar>
    @for (category of categories$ | async; track category.category) {
    <button
      mat-icon-button
      class="emoji-category-icon"
      aria-label="Example icon-button with menu icon"
      (click)="scrollTo(category.category)"
    >
      <mat-icon>{{ category.icon }}</mat-icon>
    </button>
    }
  </mat-toolbar>
  <mat-form-field class="emoji-search-form-field" appearance="outline">
  <mat-label>Suchbegriff ...</mat-label>
  <input matInput type="text" [(ngModel)]="value">
  @if (value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>
  <div class="emoji-icon-wrapper">
    @for (category of categories$ | async; track category.category) {
    <div class="cat" [attr.id]="category.category">
      <h4>{{ category.ux_title.de }} ({{ category.emojis.length }})</h4>

      @for (emoji of category.emojis; track emoji.id) {
      <svg class="emoji" width="24" height="24">
        <use
          [attr.href]="emoji.files.default"
          [attr.xlink:href]="emoji.files.default"
        ></use>
      </svg>
      }
    </div>
    }
  </div>
</section>
