<section>
  <h1>Anmeldung</h1>
  <p>
    Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
    verwendest.
  </p>

  <div class="example-container">
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input matInput
           placeholder="pat@example.com"
           [formControl]="email"
           (blur)="updateErrorMessage()"
           required>
    @if (email.invalid) {
      <mat-error>{{errorMessage}}</mat-error>
    }
  </mat-form-field>
</div>

  <button mat-flat-button class="my-btn-primary" (click)="onLogin()">
    Anmelden
  </button>
  <br />
  <br />
  <button mat-stroked-button class="my-btn-secondary">Gäste-Login</button>
  <br />
  <br />
  <!-- <button mat-stroked-button class="my-btn-link-optics-light">
    Konto erstellen
  </button>
  <br />
  <br />
  <button mat-stroked-button class="my-btn-link-optics-dark">
    Passwort vergessen
  </button> -->
  <br />
  <br />
  <bubble-icon-text-button
    [icon]="'assets/icons/ui/google_logo.svg'"
    [caption]="'Anmelden mit Google'"
    [altText]="'Anmelden mit Google'"
    [height]="'60px'"
  />
</section>
