<section>
  <h2>Anmeldung</h2>
  <br />
  <button mat-flat-button class="my-btn-primary" (click)="onLogin()">
    Anmelden
  </button>
  <br />
  <br />
  <button mat-stroked-button class="my-btn-secondary">Gäste-Login</button>
  <br />
  <br />
  <!-- <button mat-stroked-button class="my-btn-link-optics-light">
    Konto erstellen
  </button>
  <br />
  <br />
  <button mat-stroked-button class="my-btn-link-optics-dark">
    Passwort vergessen
  </button> -->
  <br />
  <br />
  <bubble-icon-text-button
    [icon]="'assets/icons/ui/google_logo.svg'"
    [caption]="'Anmelden mit Google'"
    [altText]="'Anmelden mit Google'"
    [height]="'60px'"
  />
</section>
